# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Docker
docker-compose.override.yml
docker-compose.local.yml

# IDE and System Files
.vscode/
.DS_Store
*.swp

# Other project-specific ignores